
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #403f3ff1;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(234, 234, 234);
}

li {
  padding: 20px;
  border: 1px solid rgba(168, 127, 127, 0.41);
  box-sizing: border-box;
}

p {
  font-family: 'intel', sans-serif;
  font-weight: 300;
}

.checkbox {
  margin-right: 20px;
}

#todoList {
  width: 80%;
  background-color: #fff;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  margin-top: 25vh;
}

.header {
  font-size: 24px;
  margin: 45px 0 0 10px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

#icons {
  float: right;
  width: 20px;
  cursor: grab;
}

.headerIcon {
  float: right;
  width: 20px;
  margin: 30px 40px 5px 0;
}

.fa-solid {
  float: right;
}

.fa-arrows-rotate {
  margin: 50px 10px 20px 0;
}

input {
  border: none;
}

.input-form input {
  width: 100%;
  font-size: 18px;
  padding: 15px 10px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  font-style: italic;
}

.fa-rotate-270 {
  position: relative;
  right: 10px;
  bottom: 20px;
}

#xbtn {
  width: 80%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  font-size: 20px;
}

.overline {
  text-decoration: line-through;
}

.fa-trash-can {
  cursor: pointer;
}

.fa-ellipsis-vertical {
  cursor: move;
}
